<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="pt">
<meta charset="UTF-8">

<div style="width: 800px;margin:0 auto;position:relative;">
	<div layout="column" layout-align="center center" >
	  <md-content layout-padding layout-fill style="margin-top: 10px; padding-bottom: 30px;">
	  <h4>Informações do Projeto</h4>
	      <form name="projectForm">
	        <div layout-gt-sm="row">
	          <md-input-container class="md-block" flex-gt-sm>
	            <label>Titulo do Projeto</label>
	            <input ng-model="project.name">
	          </md-input-container>
	        </div>
	        <div layout-gt-sm="row">
	          <md-autocomplete style="padding-bottom:20px; width:100%;"
													 type="search"
													 md-no-cache="true"
													 md-autofocus="false"
													 md-selected-item="project.projectManager"
													 md-search-text-change="searchTextChange(searchText)"
													 md-search-text="searchText"
													 md-selected-item-change="selectedItemChange(projectManager)"
													 md-items="projectManager in querySearchProjecManagers(searchText)"
													 md-item-text="projectManager.name"
													 md-min-length="1"
													 md-floating-label="Gerente do projeto">
										<md-item-template>
											<span md-highlight-text="searchText">{{projectManager.name}}</span>
										</md-item-template>
				</md-autocomplete>
	          </div>
	        <div layout-gt-xs="row">
	          <md-datepicker ng-model="project.initialDate" md-placeholder="Data inicial">
	          </md-datepicker>
	          </md-input-container>
	          <md-datepicker ng-model="project.finalDate" md-placeholder="Data final">
	          </md-datepicker>
	        </div>
          </form>
          
          <md-tabs md-dynamic-height md-border-bottom>]
          <md-tab label="Atividades">
        	<md-content class="md-padding">
			  <div layout="row">
			  	<div layout="row" flex="20">
					<h3>Atividades</h3>
				</div>
				 <div layout="row" layout-align="end start" class="colorNested" flex style="padding-top:10px;">
				 	<md-button ng-click="openPopupAtividade(event, null)"  class="md-raised">ADICIONAR ATIVIDADE</md-button>
				 </div>
			  </div>
			  
				<md-list >
					<md-list-item ng-repeat="activity in activities" class="box-whiteframe md-whiteframe-z2 ">
						<div layout="row" layout-fill>
		                    <div layout="column" flex style="padding-bottom:15px;">
		                        <div class="box-text-overflow" style="margin: 15px 0 15px 0;">
		                            <label>{{activity.name}}</label>
		                        </div>
		                        <div layout="row">
		                            <div class="box-text-overflow" style="margin-right:10px;" flex>
		                                <label class="grey" title="{{activity.responsible.name}}">Responsável: {{activity.responsible.name}}</label>
		                            </div>
		                        </div>
		                    </div>
		                    <div layout="row" layout-align="end start" class="colorNested" flex style="padding-top:10px;">
		                    <div>
								  	<md-button ng-click="finishActivity(activity)" class="md-icon-button">
								  		<md-icon ng-style="myColor" md-font-set="material-icons"> done </md-icon>
							  		</md-button>
							  		<md-tooltip>Finalizar Atividade</md-tooltip>
						  		</div>
						  		<div>
								  	<md-button ng-click="openPopupAtividade(event, activity)" class="md-icon-button">
								  		<md-icon md-font-set="material-icons"> edit </md-icon>
							  		</md-button>
							  		<md-tooltip>Editar Atividade</md-tooltip>
						  		</div>
		                    	<div>
								  	<md-button ng-click="removeActivity(activity)" class="md-icon-button">
								  		<md-icon md-font-set="material-icons"> delete </md-icon>
								  		<md-tooltip>Remover Atividade</md-tooltip>
							  		</md-button>
						  		</div>
		                    	
						  		
					  		</div>
		                </div>
				 	</md-list-item>
			 	</md-list>
			</md-content>
      		</md-tab>
      		<md-tab label="Milestones">
	        	<md-content class="md-padding">
		        	<div layout="row">
		        		<h3>Milestones</h3>
		        		<div layout="row" layout-align="end start" class="colorNested" flex style="padding-top:10px;">
							<md-button ng-click="openPopupMilestone(event)"  class="md-raised">ADICIONAR MILESTONE</md-button>
						</div>
					 </div>
					 <md-list >
					<md-list-item ng-repeat="milestone in milestones" class="box-whiteframe md-whiteframe-z2 ">
		
		
		
		
								<div layout="row" layout-fill>
				                    <div layout="column" flex style="padding-bottom:15px;">
				                        <div class="box-text-overflow" style="margin: 15px 0 15px 0;">
				                            <label>{{milestone.name}}</label>
				                        </div>
				                        <div layout="row">
				                            <div class="box-text-overflow" style="margin-right:10px;" flex>
				                                <label class="grey" title="{{milestone.date}}">Data limite: {{milestone.date | date: 'HH:mm'}}</label>
				                            </div>
				                        </div>
				                    </div>
				                    <div layout="row" layout-align="end start" class="colorNested" flex style="padding-top:10px;">
				                    	<div>
										  	 <md-button ng-click="removeMilestone(milestone)" class="md-icon-button">
										  		<md-icon md-font-set="material-icons"> delete </md-icon>
									  		</md-button>
								  		</div>
							  		</div>
				                </div>
		
					  	
						  	 
				 	</md-list-item>
			 	</md-list>
				  	</div>
	        	</md-content>
        	</md-tab>
          
	  </md-content>
	</div>
</div>	




<md-button ng-if="!project.id" class="md-fab md-fab-bottom-right md-primary" ng-if="" ng-click="saveProject(project)" aria-label="Novo Projeto">
	<md-icon md-font-set="material-icons"> save </md-icon>
</md-button>
	
<md-button ng-if="project.id" class="md-fab md-fab-bottom-right md-primary" ng-if="" ng-click="updateProject(project)" aria-label="ALterar Projeto">
	<md-icon md-font-set="material-icons"> save </md-icon>
</md-button>	
